<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao-singleton" class="com.testspring.dao.impl.UserDaoImpl"
		scope="singleton"></bean>

	<bean id="userDao"
		class="com.testspring.dao.impl.UserDaoImpl"
		init-method="init" destroy-method="destory"></bean>

	<bean
		id="userDao-prototype" class="com.testspring.dao.impl.UserDaoImpl"
		scope="prototype"></bean>

	<bean id="userDao-static-factory"
		class="com.testspring.factory.StaticFactory" factory-method="getUserDao"></bean>

	<bean
		id="dynamic-factory" class="com.testspring.factory.DynamicFactory"></bean>
	<bean
		id="userDao-dynamic-factory" factory-bean="dynamic-factory"
		factory-method="getUserDao"></bean>
		
	<!--  set方法注入  -->
	<!-- for UserService -->
	<!--   <bean id="userService"
	class="com.testspring.service.impl.UserServiceImpl">
	   <property name="userDao" ref="userDao-static-factory"></property>
   </bean>
-->

	<!-- 构造函数注入 -->
	<bean id="userService"
		class="com.testspring.service.impl.UserServiceImpl">
		<constructor-arg name="userDao" ref="userDao"></constructor-arg>
	</bean>

</beans>
