<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
 
   <bean id="userDao-singleton" class="com.testspring.dao.impl.UserDaoImpl" scope="singleton"></bean>

   <bean id="userDao-prototype" class="com.testspring.dao.impl.UserDaoImpl" scope="prototype"></bean>
 
</beans>
